@import "@/styles/main"
  
.add-card-component 
  background: $white
  border-radius: 20px
  padding: 30px

  &_block
    display: grid
    grid-template-columns: 2fr 1fr
    grid-template-rows: repeat(2,125px)
    grid-template-areas: 'name  price' 'shortDes shortDes'
    gap: 30px
    height: 95%
    overflow-y: auto

    &_item
      display: flex
      flex-flow: column nowrap
      justify-content: flex-start
      align-items: flex-start
      gap: 20px

      &_label
        font-size: 1.6rem
        line-height: 1.8rem
        color: $overlay

      &_value
        border-radius: 20px
        border: 2px solid $peach-back
        padding: 20px
        font-size: 1.8rem
        line-height: 2rem
        color: $overlay
        outline: none
        font-family: $font
        width: calc(100% - 60px)

        &_textarea
          resize: none

      &_name
        grid-area: name

      &_price
        grid-area: price

      &_shortDes
        grid-area: shortDes

  &_btn_row
    display: flex
    flex-flow: row nowrap
    justify-content: flex-end
    align-items: center

    &_button
      background: $peach-back
      color: $white
      border-radius: 20px
      padding: 15px 40px
      cursor: pointer
      font-family: $font
      border: none
      white-space: nowrap
      text-transform: uppercase
      font-size: 1.2rem
      line-height: 1.4rem

