@import "@/styles/main"
  

.add-card-component 
  background: $white
  border-radius: 20px
  padding: 30px
  opacity: 0
  transition: $transition
  z-index: 1
  transform: translateX(-100%)
  position: relative

  &_btn__close
    width: 32px
    height: 30px
    border-radius: 50px
    display: flex
    flex-flow: row
    justify-content: center
    align-items: center
    font-size: 1.2rem
    line-height: 1rem
    color: $white
    background: $peach-back
    cursor: pointer
    position: absolute
    top: 30px
    right: 30px
    padding-bottom: 2px
    border: 2px solid $white

  @media screen and (max-width: 500px)
    position: absolute
    top: 50%
    left: 50%
    width: calc(100% - 100px)
    height: 85vh
    transform: translate(-150%, -50%)

  &__show
    opacity: 1
    z-index: 3
    transform: translateX(0%)

    @media screen and (max-width: 500px)
      transform: translate(-50%, -50%)

  &_block
    display: grid
    grid-template-columns: 2fr 1fr
    grid-template-rows: repeat(5, auto)
    grid-template-areas: 'name  price' 'shortDes shortDes' 'fullDes fullDes' 'composition composition' 'gallery gallery'
    gap: 60px
    height: 72vh
    overflow-y: auto
    align-content: flex-start
    padding-top: 40px

    @media screen and (max-width: 500px)
      height: 62vh
      grid-template-columns: 1fr
      grid-template-rows: repeat(6, auto)
      grid-template-areas: 'name'  'price' 'shortDes' 'fullDes' 'composition' 'gallery'

    &_item
      display: flex
      flex-flow: column nowrap
      justify-content: flex-start
      align-items: flex-start
      gap: 20px

      &_small
        width: 250px

      &_label
        font-size: 1.6rem
        line-height: 1.8rem
        color: $overlay

        @media screen and (max-width: 500px)
          font-size: 1.5rem
          line-height: 1.7rem

        @media screen and (max-width: 400px)
          font-size: 1.3rem
          line-height: 1.5rem

      &_value
        border-radius: 20px
        border: 2px solid $peach-back
        padding: 20px
        font-size: 1.8rem
        line-height: 2rem
        color: $overlay
        outline: none
        font-family: $font
        width: calc(100% - 60px)

        @media screen and (max-width: 500px)
          font-size: 1.6rem
          line-height: 1.8rem

        @media screen and (max-width: 400px)
          font-size: 1.4rem
          line-height: 1.6rem

        &_textarea
          resize: none

      &_name
        grid-area: name

      &_price
        grid-area: price

      &_shortDes
        grid-area: shortDes

      &_fullDes
        grid-area: fullDes

      &_composition
        grid-area: composition
      
      &_gallery
        grid-area: gallery

      &_calories
        grid-area: calories


      &_files
        display: flex
        flex-flow: column
        justify-content: center
        align-items: flex-start

        &_images
          display: flex
          flex-flow: row wrap
          justify-content: flex-start
          align-items: center
          gap: 30px

          &__with_margin
            margin-top: 30px

          &_img
            width: 100px
            height: 100px
            position: relative

            img
              width: 100%
              height: 100%
              object-fit: cover
              border-radius: 20px

            @media screen and (max-width: 400px)
              width: 100%
              height: auto
              aspect-ratio: 1/1

            &_btn__close
              width: 25px
              height: 25px
              border-radius: 50px
              display: flex
              flex-flow: row
              justify-content: center
              align-items: center
              font-size: 1rem
              line-height: 1rem
              color: $white
              background: $peach-back
              cursor: pointer
              position: absolute
              top: -10px
              right: -10px
              padding-bottom: 1px
              border: 2px solid $white

      &_file_upload
        display: flex
        flex-flow: row
        align-items: center

        input
          position: absolute
          z-index: -1
          opacity: 0
          width: 0
          height: 0

        &_btn
          background: $peach-back
          color: $white
          border-radius: 20px
          padding: 15px 20px
          cursor: pointer
          font-family: $font
          border: none
          white-space: nowrap
          text-transform: uppercase
          font-size: 0.8rem
          line-height: 1rem

      &_calories_block
        display: grid
        grid-template-columns: 1fr 1fr
        grid-template-rows: 1fr 1fr
        align-content: center
        justify-items: center
        gap: 30px

  &_btn_row
    display: flex
    flex-flow: row nowrap
    justify-content: flex-start
    align-items: center
    padding-top: 30px
    gap: 10px

    @media screen and (max-width: 500px)
      flex-flow: column nowrap

    &_warning
      display: flex
      flex-flow: row
      justify-content: center
      align-items: center
      flex: 1
      height: 35px

      &_text
        font-size: 1.3rem
        line-height: 1.5rem
        color: $peach
        opacity: 0
        transition: $transition
        z-index: 1

        &__show
          opacity: 1

        &__success
          color: $peach-back
      
      &_preloader
        width: 30px
        height: 30px
        background-image: url("@/assets/preloader.svg") 
        background-repeat: no-repeat
        background-size: cover
        animation: spin 2s ease 0s infinite
        opacity: 0
        z-index: -1
        transition: $transition
        position: absolute

        &__show
          opacity: 1
          z-index: 2

    &_button
      flex: 0
      background: $peach-back
      color: $white
      border-radius: 20px
      padding: 15px 40px
      cursor: pointer
      font-family: $font
      border: none
      white-space: nowrap
      text-transform: uppercase
      font-size: 1.2rem
      line-height: 1.4rem



