@import "@/styles/main"

html, body
  font-size: 16px
  margin: 0
  padding: 0
  font-family: $font
  
.mainPage-page 
  width: 100vw
  min-height: 100vh
  background: url("@/assets/main-back.jpg")
  background-size: cover
  display: flex
  flex-flow: column nowrap
  justify-content: center
  align-items: center

  &_container
    width: 1110px
    height: 100%
    flex: 1
    display: flex
    flex-flow: column nowrap
    justify-content: flex-start
    align-items: center
    padding: 40px 0

