@import "@/styles/main"
@import "@/styles/animation"
  
.contacts-container
  width: 100%
  height: auto
  display: flex
  flex-flow: column nowrap
  justify-content: flex-start
  align-items: center
  margin-top: 200px

  &_block
    width: 100%
    height: 100%
    border-radius: 20px
    background: $white
    opacity: 0
    transition: $transition
    transform: translateY(50%)
    display: flex
    flex-flow: column nowrap
    justify-content: flex-start
    align-items: center

    &__show
      opacity: 1
      transform: translateY(0%)

    &_title
      width: 100%
      margin-top: 50px
      text-align: center

      &_text
        font-size: 2.4rem
        line-height: 2.8rem
        color: $black

        &__orange
          color: $peach

    &_body
      display: grid
      grid-template-columns: 45% 55%
      // grid-template-areas: 'phone form' 'image form'
      width: 100%
      height: 100%
      margin-top: 80px

      &_left_part
        height: 100%
        display: flex
        flex-flow: column nowrap
        justify-content: space-between
        align-items: flex-start
        align-self: stretch

        &_messengers
          width: 100%

          &_row
            width: 100%
            margin-top: 30px
            display: flex
            flex-flow: row nowrap
            justify-content: center
            align-items: center
            gap: 20px
            opacity: 0
            transform: translateX(-100%)
            transition: $transition
            text-decoration: none

            &_img
              width: 40px
              height: 40px

              img
                width: 100%
                height: 100%
                object-fit: contain
                transition: $transition

            &_text
              font-size: 2rem
              line-height: 2.6rem
              color: $black

            &:hover

              img
                transform: scale(1.1)
              

            &__show
              animation: show_link 0.4s linear
              animation-fill-mode: forwards

        &_img
          opacity: 0
          transition: $transition

          &__show
            animation: show 0.4s linear 1.1s
            animation-fill-mode: forwards

          img
            width: 100%
            height: 100%
            object-fit: cover
            border-radius: 0 20px 0 0 

      &_right_part
        height: 100% 
        overflow: hidden 

  &_signature
    width: 100%
    height: 50px
    position: relative
    margin-top: 20px

    &_copyright
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%,-50%)
      color: $white
      font-size: 0.9rem
      line-height: 1rem

    &_autor
      color: $white
      font-size: 0.9rem
      line-height: 1rem
      top: 50%
      transform: translateY(-50%)
      right: 20px
      position: absolute

        

    


  


      
